.hidden-js {
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.ss-main.breed-select {
  width: 480px;
  margin-bottom: 20px;
  visibility: visible;
  opacity: 1;
}

.cat-info {
  width: 480px;
}